body {
  margin: 2%;
  background-color: black;
  background-attachment: fixed;
  color: white;
}



p, ul {
  line-height: 150%;
  color: white;
}

h1.intro {
  text-align: center;
}

ul, p .idx{
  font-style: normal;
  font-weight: normal;
  line-height: 150%
}

img .Perfil{
  width: 250px;
  height: 250px;
}
